
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-xl-12">
        <button type="button" class="btn btn-success waves-effect waves-light">Create Course</button>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Courses</h4>
                             <div class="table-responsive">
                    <table class="table table-bordered border-primary mb-0">

                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://eduhome.blob.core.windows.net/test/test(1).jpg" alt="Simply Easy Learning" style="width:200px;height:auto">
                                </td>
                                <td>title</td>
                                <td>desc</td>
                                <td style="align-content:center">
                                    <button  type="button" class="btn btn-info waves-effect waves-light">Update</button>
                                    <button type="button" class="btn btn-warning waves-effect waves-light">Detail</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
